.btnreglogfont {
  font-size: 20px;
  width: 4em;
  margin-bottom: 0.1em;
}

.btnreg, .btnlog {
  position: fixed;
  top: 0.6em;
}

.btnlog {
  right: 1em;
}

.btnreg {
  right: 8em;
}

.user {
  color: hotpink;
  background-color: rgb(255, 214, 237);
  position: fixed;
  font-size: 20px;
  top: 0.6em;
  right: 7em;
  font-weight: bold;
  padding: 6px;
  border: solid 3px hotpink;
  text-align: right;
}