.btnreglogfont {
  font-size: 16px;
  line-height: 20px;
  width: 60px;
  margin-bottom: 0.5vh;
}

.btnreg, .btnlog {
  position: fixed;
  top: 10px;
}

.btnlog {
  right: 10px;
}

.btnreg {
  right: 100px;
}

.user {
  right: 100px;
  text-align: right;
}