.btnFont {
  font-size: 10vh;
  line-height: 10vh;
  color: rgb(255, 192, 227);
  overflow: hidden;
}

.btn-primary {
  margin-bottom: 8vh;
  background-color: hotpink;
  border-color: rgb(255, 192, 227);
}

.btn-primary:hover {
  background-color: rgb(255, 192, 227);
  border-color: hotpink;
}

.smbtn {
    font-size: 30px;
    margin-bottom: 0;
    color: rgb(255, 192, 227);
    background-color: hotpink;
    border-color: rgb(255, 192, 227);
    float: right;
}
  
.smbtn:hover {
    background-color: rgb(255, 192, 227);
    border-color: hotpink;
}
  
.smbtn:hover .btnFont {
    color: hotpink;
}

.btn-primary:hover .btnFont {
  color: hotpink;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgb(255, 192, 227);
  border-color: hotpink;
}

.modal {
  background-color: rgba(255, 105, 180, 0.5);
  color: hotpink;
}

.modal-header {
  background-color: rgba(255, 105, 180, 0.4);
}

.modal-body {
  background-color: rgba(255, 105, 180, 0.3);
}

.table {
  background-color: rgba(255, 105, 180, 0.05);
}
