#tetris {
  border: solid 7px hotpink;
  height: 800px;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

#next {
  border: solid 7px hotpink;
  height: 160px;
  top: 100px;
  left: 0;
  right: 650px;
  margin: auto;
  padding: 2vh;
  padding-bottom: 0;
  background-color: rgb(255, 192, 227);
  position: absolute;
}

.sc {
  font-size: 29px;
  width: 260px;
  padding-left: 12px;
  top: 100px;
  left: 760px;
  right: 0;
  margin: auto;
  position: absolute;
  border: solid 5px hotpink;
  background-color: rgb(255, 214, 237);
  color: hotpink;
}

#gameovermodal {
  font-size: 64px;
  padding-left: 40px;
}

@media (max-width: 900px) {
  .sc {
    display: none;
  }
}