#tetris {
  border: solid 7px hotpink;
  height: 720px;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

#next, #hold {
  border: solid 7px hotpink;
  height: 160px;
  left: 0;
  right: 570px;
  margin: auto;
  padding: 2vh;
  padding-bottom: 0;
  background-color: rgb(255, 192, 227);
  position: absolute;
}

#next {
  top: 100px;
}

#hold {
  top: 300px;
}

.sc {
  font-size: 30px;
  font-weight: 600;
  width: 9.3em;
  padding-left: 0.3em;
  top: 100px;
  left: 800px;
  right: 0;
  margin: auto;
  position: absolute;
  border: solid 5px hotpink;
  background-color: rgb(255, 214, 237);
  color: hotpink;
}

.next, .hold {
  font-size: 30px;
  font-weight: 600;
  width: 100px;
  padding-left: 0.3em;
  left: 0px;
  right: 800px;
  margin: auto;
  position: absolute;
  border: solid 5px hotpink;
  background-color: rgb(255, 214, 237);
  color: hotpink;
}

.next {
  top: 150px;
}

.hold {
  top: 350px;
}

#gameovermodal {
  font-size: 44px;
  font-weight: 500;
  padding-left: 0.4em;
}

@media (max-width: 900px) {
  .sc {
    display: none;
  }
}
