h1.text-center {
    font-size: 10vmax;
    margin-bottom: 10vh;
}

.sounds {
    position: fixed;
    top: 2vh;
    left: 10px;
}

.btnFont {
    font-size: 10vh;
    line-height: 10vh;
}

.btn-primary {
    margin-bottom: 10vh;
}